<!-- start footer -->
			<footer class="main-footer">
				<div class="container">
					<div class="row">
						{{> social-link}}
						{{> copyright}}
					</div>
				</div>
			</footer>
			<!-- end footer -->
		</div>
	</div>
	{{ghost_foot}}
	<script src="{{asset "js/jquery-1.11.3.min.js"}}"></script>
	<script src="{{asset "js/bootstrap.min.js"}}"></script>
	<script src="{{asset "js/imagesloaded.pkgd.min.js"}}"></script>
	<script src="{{asset "js/masonry.pkgd.min.js"}}"></script>
	<script src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script src="{{asset "js/highlight.pack.js"}}"></script>
	<script src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
	<script src="{{asset "js/main.js"}}"></script>
</body>
</html>