{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- start main content area -->
<div class="container">
	<div class="single-post-container clearfix">
		{{#post}}
		<div class="single-content-wrap">
		<!-- start article -->
		<article id="{{id}}" class="post-wrap {{post_class}}">
			{{#if featured}}
			<div class="featured">
				<i class="fa fa-star"></i>
			</div>
			{{/if}}
			{{#if feature_image}}
			<div class="featured-media">
				<a href="{{url}}" title="post-title"><img src="{{img_url feature_image}}" alt="{{{title}}}"></a>
			</div>
			{{/if}}
			<header class="post-header">
				<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
			</header>
			<div class="post-content">
				{{content}}
			</div>
		</article>
		<!-- end article -->
		</div>
		{{/post}}
		{{> sidebar}}
	</div>
</div>
<!-- end main content area -->
