{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- start main content area -->
<div class="container">
	<div class="single-post-container clearfix">
		{{#post}}
		<div class="single-content-wrap">
		<!-- start article -->
		<article id="{{id}}" class="post-wrap {{post_class}}">
			{{#if featured}}
			<div class="featured">
				<i class="fa fa-star"></i>
			</div>
			{{/if}}
			{{#if feature_image}}
			<div class="featured-media">
				<a href="{{url}}" title="post-title"><img src="{{img_url feature_image}}" alt="{{{title}}}"></a>
			</div>
			{{/if}}
			<header class="post-header">
				<div class="post-meta">
					<span class="date">{{date format="MMM DD, YYYY"}}</span> &#45;
					{{#author}}
					<span class="author">By <a href="{{url}}" title="{{name}}">{{name}}</a></span>
					{{/author}}
				</div>
				<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
			</header>
			<div class="post-content">
				{{content}}
			</div>
			{{#if tags}}
			<div class="tag-list">

				{{tags separator=", " prefix="Tags:&nbsp;"}}
			</div>
			{{/if}}
			<footer class="post-footer clearfix">
				{{> share}}
				<div class="pull-right comment-count">
					<i class="fa fa-comment-o"></i>
					<a href="{{url}}#disqus_thread">0 Comments</a>
				</div>
			</footer>
		</article>
		<!-- end article -->
		<!-- start about author -->
		<div class="about-author-wrap">
			{{> about-author}}
		</div>
		<!-- end about author -->
		{{> prev-next}}
		<!-- end comment -->
		</div>
		{{/post}}
		{{> sidebar}}
	</div>
</div>
<!-- end main content area -->
